@model IEnumerable<AcmeWidget.Models.ActivityModel>

@{ ViewBag.Title = "Activities"; }

<section id="sectionAvailableActivities" style="float: left;">
<h2>@ViewBag.Title</h2>
	<table class="PersonalContacts">
		<tr>
			<th>
				@Html.DisplayNameFor( model => model.ActivityType )
			</th>
			<th>
				@Html.DisplayNameFor( model => model.Description )
			</th>
		</tr>
@if ( Model != null && Model.Count ( ) > 0 ) {
	foreach ( var item in Model ) {
		<tr data-activityid="@item.Id" onclick='ActivitySignUp(@Html.Raw(Json.Encode(item)));' class="Clickable" title="I wanna go!">
			<td>
				@Html.DisplayFor( modelItem => item.ActivityType )
			</td>
			<td>
				@Html.DisplayFor( modelItem => item.Description )
			</td>
		</tr>	}	}
	</table>
	<style>
		table.PersonalContacts > tbody > tr.Clickable:hover {
			color: green;
			cursor: pointer;
		}
	</style>
	<script type="text/javascript">
		var ActivitySignUp = function (item) {
			$.ajax({
				url: "/Activity/ActivitySignUp",
				type: "POST",
				data: JSON.stringify(item),
				contentType: "application/json; charset=utf-8",
				success: function (data) {
					$( "#sectionAvailableActivities" ).hide();

					$( "#sectionActivitySignUp" ).html(data);
				}
			});
		}
	</script>
</section>
<section id="sectionActivitySignUp"></section>
<section id="sectionSignedUp"></section>
